/* Colors
#F7931E - Orange
#4D4D4D - Grey
*/

.text-orange{
  color: #F7931E;
}

.text-grey{
  color: #4D4D4D;
}

#construction-container{
  padding-top: 12%;
  padding-bottom: 12%;
}

.big-logo{
  width: 25%;
}

.contact-icon{
  color: #F7931E;
  margin-right: .2rem;
  margin-left: .2rem;
}

#sliderContainer{
  height: 90vh;
} 

#landingSection{
  height: 70vh;
}
