/* Colors
#F7931E - Orange
#292929 - Grey
#FFFFFF - White
#131313 - Black
*/

h1{
  font-size: 4rem !important;
}

ul{
    list-style-type: none;
}

.text-orange{
  color: #F7931E !important;
}

.text-grey{
  color: #4D4D4D !important;
}

.text-white{
  color: #ffffff !important;
}

.contact-icon{
  color: #F7931E;
  margin-right: .2rem;
  margin-left: .2rem;
}

.icon-border{
  stroke: #4D4D4D;
  stroke-width: 20;
}

.orange-btn{
  border: 4px solid #F7931E !important;
  padding-top: .7rem  !important;
  padding-bottom: .7rem  !important;
  padding-left: 2rem  !important;
  padding-right: 2rem  !important;
  font-size: 1.5rem  !important;
  color: #F7931E !important;
}

.orange-btn:hover, .lg-red-btn:focus, .lg-red-btn:active {
  background-color: #F7931E;
  border: 3px solid #F7931E;
  color: white !important;
}


#construction-container{
  padding-top: 12%;
  padding-bottom: 12%;
}

.big-logo{
  width: 25%;
}

.navbar a{
  font-size: 1.3rem;
}

.nav-item{
  margin: rem !Important;
}

a:hover{
  color: #F7931E !important;
}

.slideItem{
  height: 95vh;
}

#carousel-container{
  position: relative;
  background-size: cover;
  z-index: 0;
}

#landingText-container{
  position: relative;
  z-index: 1;
}

#title-wrapper{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: 20rem;
  height: 20px; /*requires explicit height*/
}

#title-text{
  font-size: 5rem;
}

#landingSection{
  margin-bottom: 2rem;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #64C7CC;
}

#contact{
  background-color: #292929;
  padding: 3rem;
}

#footer{
  background-color: #131313;
  color: #bdbdbd;
}



