/* Colors
#F7931E - Orange
#292929 - Grey
#FFFFFF - White
#131313 - Black
*/

h1{
  font-size: 3rem !important;
}

.title{
  font-size: 4rem !important;
}

ul{
    list-style-type: none;
}

.text-orange{
  color: #F7931E !important;
}

.text-grey{
  color: #4D4D4D !important;
}

.text-white{
  color: #ffffff !important;
}

.contact-icon{
  color: #F7931E;
  margin-right: .2rem;
  margin-left: .2rem;
}

.icon-border{
  stroke: #4D4D4D;
  stroke-width: 20;
}

.orange-btn{
  border: 4px solid #F7931E !important;
  padding-top: .7rem  !important;
  padding-bottom: .7rem  !important;
  padding-left: 2rem  !important;
  padding-right: 2rem  !important;
  font-size: 1.5rem  !important;
  color: #F7931E !important;
  border-radius: 2px !important;
}

.orange-btn:hover, .lg-red-btn:focus, .lg-red-btn:active {
  background-color: #F7931E;
  border: 3px solid #F7931E;
  color: white !important;
}


#construction-container{
  padding-top: 12%;
  padding-bottom: 12%;
}

.big-logo{
  width: 25%;
}

.navbar a{
  font-size: 1.3rem;
}

#footer a:hover{
  color: #F7931E !important;
}

a:hover{
  color: #F7931E !important;
}

.nav-item{
  margin: rem !Important;
}

a{
  text-decoration: none !important;
}

a:hover{
  color: #ffffff !important;
}

.slideItem{
  height: 95vh;
}

#carousel-container{
  position: relative;
  background-size: cover;
  z-index: 0;
}

#landingText-container{
  position: relative;
  z-index: 1;
}

#title-wrapper{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: 20rem;
  height: 20px; /*requires explicit height*/
}

#title-text{
  font-size: 5rem;
}

.contactCard{
  /* border: #F7931E solid 2px; */
  border-radius: 1px;
  background-color: #222222;
  padding: 1.5rem;
}

.contactCard a{
  text-decoration: none !important;
}

#footerContact{
  margin-top: 3rem;
  margin-bottom: 10rem;
}


/* *****************HOME SECTIONS********************* */
#landingSection{
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #64C7CC;
}

#aboutSection{
  background-color: #292929;
}

#serviceSection{
}

#contact{
  background-color: #292929;
  padding: 3rem;
}

#footer{
  background-color: #131313;
  color: #bdbdbd;
  padding: 20vh;
  padding-top: 3vh;
}


/* *****************HOVER ANIMATIONS********************* */
/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1d1d1d;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}




